body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #f8f9fa;
}

.h2{
    align-content:center;
}
.h3 {
    font-size: 3vw;
}
.logo-heading {
    display: flex;
    padding: 10px 10px;
    align-items: center;
}

.logo {
    margin-right: 10px;
    max-width: 100px; /* Maximum width */
    max-height: 100px; /* Maximum height */
}

.nav {
    display: flex;
    gap: 15px;
}

    .nav a {
        text-decoration: none;
        margin: 10px 10px 10px 10px;
        color: #000000;
    }
    .nav .icon {
        display: none;
    }

.banner {
    display: flex;
    flex-direction: column;
    height: 25vh;
    background: url('Images/Splash4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 40px;
    display: flex;
    flex-direction: column;
}
    .content:nth-of-type(1) {
        /*background-color: #ecfbff;*/
        background-image: linear-gradient(#dbf7ff, #94ddff);
        min-height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .content:nth-of-type(2) {
        background-color: #ecfbff;
        display: flex;
        min-height: 80vh;
        justify-content: space-between;
        align-items: center;
        display:none;
        }

    .content:nth-of-type(3) {
        background-color: #ecfbff;
        display: flex;
        min-height: 80vh;
        justify-content: space-between;
        align-items: center;
        display:none;
        }

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0px 0px 15px #a2ddf3;
    width: 80%;
}
.left {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
}
.center {
    flex: 3;
    padding: 0px 50px 0px 20px;
    align-items: center;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    background-image: linear-gradient(#ecfbff, #f1f8ff);
    border-left: solid #edf4ff 3px;
}

.left img, .right img {
    max-width: 80%;
    max-height: auto;
    margin: 20px 0px 20px 0px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    box-shadow: 0px 0px 15px #e4e4e4;
}
.slide-Right {
    position: relative;
    animation: slideRight 1s ease-in-out forwards;
}
.slide-Left {
    position: relative;
    animation: slideLeft 1s ease-in-out forwards;
}
.slideout-Left {
    position: relative;
    animation: slideoutLeft 1s ease-in-out forwards;
}
.slideout-Right {
    position: relative;
    animation: slideoutReft 1s ease-in-out forwards;
}
@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideoutRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideoutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
.categories {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 40px 80px 0;
    background-color: white;
}

.dev {
    text-align: center;
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 20px 0px 5px;
    transition: background-color 0.25s ease;
}
.active {
    background-color: #dbf7ff;
    transition: background-color 0.5s ease;
}

    .dev img {
        max-width: 30%;
        border-radius: 20px;
        height: auto;
    }

    .dev-heading {
        font-size: 2vw;
        color: black;
    }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

@media (max-width: 700px) {

    .nav a {
        display: none;
    }

        .nav a.icon {
            float: right;
            display: block;
        }

    .Categories {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        padding: 20px 40px 0;
        background-color: white;
    }
    .dev {
        align-content: center;
        padding: 20px;
        display: flex;
        width: 125px;
        flex-direction: column;
    }
        .dev i {
            font-size: 50px;
            color: black;
            margin-bottom: 10px;
        }

        .dev img {
            align-self:center;
            max-width: 50%;
            border-radius: 10px;
            height: auto;
        }

    .dev-heading {
        font-size: 3vw;
        color: black;
    }

    .dev-text {
        font-size: 15px;
        color: black;
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 15px #a2ddf3;
        width: 99%;
    }
    .left {
        flex: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .center {
        flex: 3;
        padding: 0px 50px 0px 20px;
        align-items: center;
        display: flex;
        flex-direction: column; /* Align items vertically */
        justify-content: center;
        border-radius: 0px 0px 20px 20px;
        background-image: linear-gradient(#ecfbff, #e7f4fd);
    }
    .left img, .right img {
        max-width: 30%;
        margin: 10px;
        border-radius: 20px;
        height: auto;
        align-items: center;
        display: flex;
        flex-direction: column; /* Align items vertically */
        justify-content: center;
        box-shadow: 0px 0px 15px #e4e4e4;
    }
    .banner {
        display: flex;
        flex-direction: column;
        height: 20vh;
        background: url('Images/Splash4.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

}




