body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
            background-color: #f8f9fa;
        }
        .logo-heading {
            display: flex;
            align-items: center;
        }
        .logo {
            margin-right: 10px;
            max-width: 50px; /* Maximum width */
            max-height: 50px; /* Maximum height */
}
        }
        .nav {
            display: flex;
            gap: 15px;
        }
        .nav a {
            text-decoration: none;
            color: #ffffff;
        }

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Images/Splash4.png');
    background-repeat: no-repeat;
    background-size: auto 100px;
    color: white;
    text-align: center;
}

.intro h1 {
    font-size: 60px;
    margin: 0;
    color: #313131;
}

.intro p {
    font-size: 20px;
    margin: 20px 0;
    color: #313131;
}

.intro button {
    background-color: #5edaf0;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.achievements {
    display: flex;
    justify-content: space-around;
    padding: 40px 80px;
    background-color: #f5f5f5;
}

.work {
    text-align: center;
}

.work i {
    font-size: 50px;
    color: #333;
    margin-bottom: 10px;
}

.work-heading {
    font-size: 20px;
    color: #333;
}

.work-text {
    font-size: 15px;
    color: #777;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}
